.main {
  display: flex;
}

.apagar {
  color: red;
}

.receber {
  color: green;
}

.input {
  width: 15.5rem;
  height: 2.4rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.btn {
  width: 4.5rem;
  height: 2.5rem;
  border-radius: 50px;
  margin: 1.5rem;
}

.result {
  display: flex;
  margin-top: 30px;
  border: 10px chartreuse;
}
